
<div class="buttonHome">
		<a  href="/?route=emprunter"  class="btn btn-success mb20 mt30 btn-border-left" ng-click='openEmprunterIntro()'>
			<span >Déplacer du matériel vers un chantier</span>
		</a>
		
		<a href="/?route=rapporter"  class="btn btn-warning mb50 btn-border-right">
			<span >Rapporter du matériel à un dépôt</span>
		</a>
		<div class='trait'>
			<a href="/?route=rechercher" class="btn btn-secondary mb20 mt30">
				<i class="fa fa-search"></i><span > Rechercher un matériel</span>
			</a>
		</div>
	  
	
</div>
